[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serv = "python serve.py"

[dev-packages]
autopep8 = "*"
pylint = "*"
honcho = "*"
pytest = "*"

[packages]
flask = "*"
python-dotenv = "*"
redis = "*"
flask-redis = "*"
flask-restful = "*"
flask-mongoengine = "*"
dnspython = "*"

[requires]
python_version = "3.7"
